body{
    background-color: rgb(157, 130, 182);
    color: white
    font-family: "Delius", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
background-color: rgba(213, 166, 255, 0.63)
color: white
 font-family: "Delius", cursive;
}

.passo{
    display: none;
}

.passo.ativo { 
    display: block;
}

main{
    text-align: center
    max-width: 90%
}

img {
    max-width: 90% 
}